<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <ng-container *ngIf="blogPost">
            <div class="post-card">
                <div class="post-card-header">
                    <div class="row">
                        <div class="col text-start">
                            <span class="post-title">
                                {{blogPost.title}}
                            </span>
                        </div>
                        <div class="col text-end">
                            {{blogPost.timeCreated | date:'dd LLLL yyyy':'':'tr'}}
                            <!-- Full date with hour : dd LLLL yyyy,  HH:mm -->
                        </div>
                    </div>
                </div>
                <div class="post-card-featured-image text-center" style="overflow:hidden;">
                    <img [src]="['../../assets/Uploaded/'+blogPost.featuredImage]" alt="" class="img-fluid">
                </div>
                <div class="post-card-content">
                    <div class="row">
                        <div class="col">
                            <span class="post-content" [innerHTML]="blogPost.content"></span>
                        </div>
                    </div>
                </div>
                <div class="post-card-footer">
                    <div class="row">
                        <div class="col">
                            <span class="post-footer-categories">
                                Hashtags:
                            </span>
                            <ng-container *ngFor="let category of blogPost.categories">
                                <a [routerLink]="['/hashtag/'+category.link]" class="hashtag-link">
                                    {{category.name}}
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>